<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guadi's blog</title>
</head>
<body>
    <div>
        <h1><a href="">bts</a></h1>
    </div>

    <div>
        <p>publicado 24 de septiembre</p>
        <h2><a href="">te amo bts</a></h2>
        <p>bts en la plata en octubreeee</p>
    </div>

    <div>
        <p>publicado 24 de septiembre</p>
        <h2><a href="">bts arirang</a></h2>
        <p>el mejor albummmm</p>
    </div>
</body>
</html>