.page-header-custom {
    background-color: #7d2998;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header-custom h1, 
.page-header-custom h1 a, 
.page-header-custom h1 a:visited {
    color: #ffffff !important;
    font-size: 36pt;
    text-decoration: none !important;
}

.content {
    margin-left: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #7d2998;
    border-radius: 8px;
    background-color: #ffffff;
}

.post h2, 
.post h2 a, 
.post h2 a:visited, 
.post h2 a:active {
    color: #000000 !important; 
    text-decoration: none !important; 
}

.post h2 a:hover {
    color: #7d2998 !important; 
}